body {
    background-color: rgb(30, 30, 45);
    --border-color: rgb(55, 65, 130);
    --main-background-color: rgb(120, 135, 160);
    --main-text-color: rgb(240, 240, 255);
}

#title {
    border-color: var(--border-color);
    color: rgb(65, 80, 160);
    background-color: rgb(230, 240, 245);
}

#tabs {
    background-color: rgb(140, 155, 170);
}

.tabButton:hover {
    background-color: rgb(125, 140, 155);
    color: rgb(65, 80, 160);
}

.tabButton {
    border-color: var(--border-color);
    color: rgb(30, 25, 100);
}

#currentTab {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

#centerDisplay {
    display: flex;
    border-left: solid;
    border-right: solid;
    border-color: var(--border-color);
    background-color: var(--main-background-color);
}

#briefIntro {
    display: block;
    height: auto;
    width: 58%;
    margin: auto;
    overflow-wrap: break-word;
    text-indent: 10%;
    color: var(--main-text-color);
    font-size: 200%;
}

#profilePic {
    object-fit: contain;
}

#externalLinks {
    display: flex;
    border: solid;
    border-color: var(--border-color);
    background-color: rgb(230, 240, 245);
}

.linkIcon {
    display: block;
    height: auto;
    width: 15%;
    margin: 2.5%;
    object-fit: contain;
}

.link {
    display: block;
    height: auto;
    width: 62.5%;
    margin: 2.5%;
    object-fit: contain;
}

a:hover {
    background-color: rgb(215, 225, 230);
}