body {
    background-color: rgb(30, 45, 30);
    --border-color: rgb(25, 50, 25);
    --main-background-color: rgb(150, 175, 150);
    --main-text-color: rgb(225, 230, 225);
}

#title {
    border-color: var(--border-color);
    color: rgb(25, 100, 25);
    background-color: rgb(200, 225, 200);
}

#tabs {
    background-color: rgb(125, 150, 125);
}

.tabButton:hover {
    background-color: rgb(110, 135, 110);
    color: rgb(25, 100, 25);
}

.tabButton {
    border-color: var(--border-color);
    color: rgb(15, 50, 15);
}

#currentTab {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

#skillsPreview {
    display: flex;
    border: solid;
    border-top: none;
    border-color: var(--border-color);
    background-color: var(--main-background-color);
}

.skillsPreviewImg {
    margin: 1.25%;
    object-fit: contain;
}

.skillDisplay {
    display: flex;
    border: solid;
    border-top: none;
    border-color: var(--border-color);
    background-color: var(--main-background-color);
}

.skillImg {
    margin: 2%;
    object-fit: contain;
}

.skillDescription {
    display: block;
    height: auto;
    width: 82%;
    margin: 2%;
    overflow-wrap: break-word;
    color: var(--main-text-color);
    font-size: 125%;
}

li {
    margin: 2%
}

#webImages {
    display: block;
    width: 10%;
    margin-top: 7.5%;
}

#topWebImages {
    display: flex;
}

#javascriptLogo {
    margin-left: 30%
}